In [83]:
import pymongo
import pandas as pd

park_info_df = pd.read_csv('../data/info_and_atten.csv')
park_info_df
# # splitting, reformatting area types
# parks_data[['AREA_acres','area_KM2']] = parks_data.AREA_km2.str.split("(",expand=True)
# area_acres = parks_data['AREA_acres'].replace({' acres':'',',':''}, regex=True)
# area_acres = area_acres.str.strip().to_frame().astype('float')
# parks_data['area_acres'] = area_acres

# # finding km2 and mi2 with math
# parks_data['area_km2'] = round(parks_data['area_acres']*0.00404686,2)
# parks_data['area_miles2'] = round(parks_data['area_acres']*0.0015625,2)
# parks_data = parks_data.drop(columns=['AREA_km2', 'area_KM2','AREA_acres'])
# parks.data

,Unnamed: 0,park_name,park_code,region,state,date_established,img_url,description,1904,1905,...,2013,2014,2015,2016,2017,2018,2019,area_acres,area_km2,area_miles2
0,0,Acadia,ACAD,Northeast,Maine,2/26/1919,https://cdn.shopify.com/s/files/1/0252/6455/40...,Covering most of Mount Desert Island and other...,0,0,...,2254922,2563129,2811184,3303393,3509271,3537575,3437286,49076.63,198.61,76.68
1,1,Arches,ARCH,Intermountain,Utah,11/12/1971,https://cdn.shopify.com/s/files/1/0252/6455/40...,"This site features more than 2,000 natural san...",0,0,...,1082866,1284767,1399247,1585718,1539028,1663557,1659702,76678.98,310.31,119.81
2,2,Badlands,BADL,Midwest,South Dakota,11/10/1978,https://cdn.shopify.com/s/files/1/0252/6455/40...,"The Badlands are a collection of buttes, pinna...",0,0,...,892372,868094,989354,996263,1054325,1008942,970998,242755.94,982.40,379.31
3,3,Big Bend,BIBE,Intermountain,Texas,6/12/1944,https://cdn.shopify.com/s/files/1/0252/6455/40...,Named for the prominent bend in the Rio Grande...,0,0,...,316953,314102,381747,388290,440276,440091,463832,801163.21,3242.20,1251.82
4,4,Biscayne,BISC,Southeast,Florida,6/28/1980,https://cdn.shopify.com/s/files/1/0252/6455/40...,"Located in Biscayne Bay, this park at the nort...",0,0,...,486848,525745,508164,514709,446961,469253,708522,172971.11,699.99,270.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,56,Wind Cave,WICA,Midwest,South Dakota,1/9/1903,https://cdn.shopify.com/s/files/1/0252/6455/40...,Wind Cave is distinctive for its calcite fin f...,2900,2438,...,516142,547022,612198,617377,619924,656397,615350,33970.84,137.48,53.08
57,57,Wrangell–St. Elias,WRST,Alaska,Alaska,12/2/1980,https://www.nps.gov/wrst/planyourvisit/images/...,"An over 8 million acres (32,375 km2) plot of m...",0,0,...,69984,74722,80366,79047,68292,79450,74518,8323146.48,33682.61,13004.92
58,58,Yellowstone,YELL,Intermountain,Wyoming,3/1/1872,https://cdn.shopify.com/s/files/1/0252/6455/40...,"Situated on the Yellowstone Caldera, the park ...",13727,26188,...,3188030,3513484,4097710,4257177,4116524,4115000,4020288,2219790.71,8983.18,3468.42
59,59,Yosemite,YOSE,Pacific West,California,10/1/1890,https://cdn.shopify.com/s/files/1/0252/6455/40...,"Yosemite features sheer granite cliffs, except...",0,0,...,3691191,3882642,4150217,5028868,4336890,4009436,4422861,761747.50,3082.69,1190.23
60,60,Zion,ZION,Intermountain,Utah,11/19/1919,https://cdn.shopify.com/s/files/1/0252/6455/40...,Located at the junction of the Colorado Platea...,0,0,...,2807387,3189696,3648846,4295127,4504812,4320033,4488268,147242.66,595.87,230.07

In [84]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# define the database
db = client.national_parks_db

In [85]:
# define collections
park_info = db.park_info
park_atten = db.park_atten

In [86]:
# fill database collection park_info
park_info.drop()
for index, row in park_info.iterrows():
    
    post = {
        "park_name": str(row["park_name"]),
        "park_code": str(row["park_code"]),
        "region": str(row["region"]),
        "state": str(row["state"]),
        "est_date": str(row["date_established"]),
        "area_km2": float(row["area_km2"]),
        "area_acres": float(row["area_acres"]),
        "area_miles2": float(row["area_miles2"]),
        "image_url": str(row["img_url"]),
        "description": str(row["description"])
    }
    #Insert data into business collection, post{} by post{}
    park_info.insert_one(post)

TypeError: 'Collection' object is not callable. If you meant to call the 'iterrows' method on a 'Collection' object it is failing because no such method exists.

In [87]:



park_atten.drop()
# fill database collection park_attendence

for index, row in park_info_test.iterrows():
    
    post = {
        "park_name": str(row["park_name"]),
        "park_code": str(row["park_code"]),
        "1904": int(row["1904"]),
        "1905": int(row["1905"]),
        "1906": int(row["1906"]),
        "1907": int(row["1907"]),
        "1908": int(row["1908"]),
        "1909": int(row["1909"]),
        "1910": int(row["1910"]),
        "1911": int(row["1911"]),
        "1912": int(row["1912"]),
        "1913": int(row["1913"]),
        "1914": int(row["1914"]),
        "1915": int(row["1915"]),
        "1916": int(row["1916"]),
        "1917": int(row["1917"]),
        "1918": int(row["1918"]),
        "1919": int(row["1919"]),
        "1920": int(row["1920"]),
        "1921": int(row["1921"]),
        "1922": int(row["1922"]),
        "1923": int(row["1923"]),
        "1924": int(row["1924"]),
        "1925": int(row["1925"]),
        "1926": int(row["1926"]),
        "1927": int(row["1927"]),
        "1928": int(row["1928"]),
        "1929": int(row["1929"]),
        "1930": int(row["1930"]),
        "1931": int(row["1931"]),
        "1932": int(row["1932"]),
        "1933": int(row["1933"]),
        "1934": int(row["1934"]),
        "1935": int(row["1935"]),
        "1936": int(row["1936"]),
        "1937": int(row["1937"]),
        "1938": int(row["1938"]),
        "1939": int(row["1939"]),
        "1940": int(row["1940"]),
        "1941": int(row["1941"]),
        "1942": int(row["1942"]),
        "1943": int(row["1943"]),
        "1944": int(row["1944"]),
        "1945": int(row["1945"]),
        "1946": int(row["1946"]),
        "1947": int(row["1947"]),
        "1948": int(row["1948"]), 
        "1949": int(row["1949"]),
        "1950": int(row["1950"]),
        "1951": int(row["1951"]),
        "1952": int(row["1952"]),
        "1953": int(row["1953"]),
        "1954": int(row["1954"]),
        "1955": int(row["1955"]),
        "1956": int(row["1956"]),
        "1957": int(row["1957"]),
        "1958": int(row["1958"]),
        "1959": int(row["1959"]),
        "1960": int(row["1960"]),
        "1961": int(row["1961"]),
        "1962": int(row["1962"]),
        "1963": int(row["1963"]),
        "1964": int(row["1964"]),
        "1965": int(row["1965"]),
        "1966": int(row["1966"]),
        "1967": int(row["1967"]),
        "1968": int(row["1968"]),
        "1969": int(row["1969"]),
        "1970": int(row["1970"]),
        "1971": int(row["1971"]),
        "1972": int(row["1972"]),
        "1973": int(row["1973"]),
        "1974": int(row["1974"]),
        "1975": int(row["1975"]),
        "1976": int(row["1976"]),
        "1977": int(row["1977"]),
        "1978": int(row["1978"]),
        "1979": int(row["1979"]),
        "1980": int(row["1980"]),
        "1981": int(row["1981"]),
        "1982": int(row["1982"]),
        "1983": int(row["1983"]),
        "1984": int(row["1984"]),
        "1985": int(row["1985"]),
        "1986": int(row["1986"]),
        "1987": int(row["1987"]),
        "1988": int(row["1988"]), 
        "1989": int(row["1989"]),
        "1990": int(row["1990"]),
        "1991": int(row["1991"]),
        "1992": int(row["1992"]),
        "1993": int(row["1993"]),
        "1994": int(row["1994"]),
        "1995": int(row["1995"]),
        "1996": int(row["1996"]),
        "1997": int(row["1997"]),
        "1998": int(row["1998"]), 
        "1999": int(row["1999"]),
        "2000": int(row["2000"]),
        "2001": int(row["2001"]),
        "2002": int(row["2002"]),
        "2003": int(row["2003"]),
        "2004": int(row["2004"]),
        "2005": int(row["2005"]),
        "2006": int(row["2006"]),
        "2007": int(row["2007"]),
        "2008": int(row["2008"]), 
        "2009": int(row["2009"]),
        "2010": int(row["2010"]),
        "2011": int(row["2011"]),
        "2012": int(row["2012"]),
        "2013": int(row["2013"]),
        "2014": int(row["2014"]),
        "2015": int(row["2015"]),
        "2016": int(row["2016"]),
        "2017": int(row["2017"]),
        "2018": int(row["2018"]), 
        "2019": int(row["2019"]),
      
        
#         want to make a loop so I dont have to write all these dates!
#         for i in range(1904,2020,1):
#             i : int(row[i])
    }
    park_atten.insert_one(post)
# park_atten.insert_one(post)